@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    font-size: 100%; /* 16px --> 1rem */
    font-size: 62.5%; /* fz62.5p --> 10Px --> 1rem */
    --main-color: #da1a32;
    --sub-color: #ffd700;
    --bg-color: #151515;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

body {
    font: 2.4em/1.5 Pretendard, sans-serif;
    word-break: keep-all; /* 어절 단위 줄바꿈 */
    text-transform: capitalize; /* 영문 첫 시작 글자 대문자  */
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

button {
    background-color: transparent; /* 배경색 투명하게 */
    cursor: pointer; /* 포인터 모양 */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.inner {
    width: 1440px;
    width: 75%;

    margin: 0 auto;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0px 0px; /* 버튼의 내부 여백 (크기를 키우는 데 가장 효과적) */
    font-size: 45px; /* 텍스트 크기 */
    background-color: #ee3124;
    color: white;
    border-radius: 50px; /* 둥근 모서리 */

    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 70px; /* 버튼의 고정 너비 */
    height: 70px; /* 버튼의 고정 높이 */
    text-align: center;

    display: none;
}

/* 버튼 hover 효과 */
#scrollToTopBtn:hover {
    background-color: #bb2d1a;
}

#header {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

#header.hide {
    top: -100px;
    transition: 0.25s;
}

#header nav {
    height: 8.5rem;

    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background: #f5f; */
    padding: 0 30px;
}

/* 서브메뉴 바탕 역할*/
header::after {
    content: "";
    display: block;
    position: absolute;

    top: -215px; /* height의 크기 만큼 */
    left: 0;
    width: 100%;
    height: 300px;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.95);
}

header.active::after {
    top: 0;
}

#main > section {
    padding: 140px 0;
}

#main > section.video {
    padding: 0;
}

.logo {
    z-index: 1;
}

.logo a {
    display: block;
    width: 16.4rem;
    height: 3.2rem;
    background: url(../img/logo1.png) no-repeat 0 0 / contain;
}

.gnb {
    display: flex;
    /* padding: 0 266px; */
    z-index: 1;
}

/* 햄버거 메뉴 태블릿 전에는 나오지 않게 설정 */
.btn-menu {
    display: none;
    z-index: 1;
}

.sec-title {
    font-weight: 800;
    font-size: 75px;
}

.gnb li a {
    font-weight: 600;
    font-size: 20px;

    /* border: 1px solid #000; */
    padding: 2.8rem 4.4rem;
}

.gnb li a:hover {
    color: var(--main-color);
}

.gnb > li {
    position: relative;
}

.submenu {
    position: absolute;
    /* top: 46px; li의 세로 크기만큼  */
    top: 100%;
    left: 0;
    z-index: 1;

    width: 100%;

    margin-top: 25px;

    /* jQuery를 위한 준비 */
    display: none;
}

.submenu li a {
    /* border: 1px solid #000; */
    padding: 10px;
    text-align: center;
    display: block;

    font-weight: 400;
    font-size: 17px;
}

.util-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
    z-index: 1;
}

.btn-search {
    width: 3.5rem;
    height: 3.5rem;
    /* border: 1px solid #000; */

    /* 중앙정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 아이콘 폰트기에 글자 속성으로 조절 가능 */

    font-size: 2.9rem;
}
.btn-shopping {
    width: 3.5rem;
    height: 3.5rem;
    /* border: 1px solid #000; */

    /* 중앙정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 아이콘 폰트기에 글자 속성으로 조절 가능 */

    font-size: 2.9rem;
}
.btn-information {
    width: 3.5rem;
    height: 3.5rem;
    /* border: 1px solid #000; */

    /* 중앙정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 아이콘 폰트기에 글자 속성으로 조절 가능 */

    font-size: 3.5rem;
}

/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    /* background-color: #e31837; */
    /* border-radius: 10px 0 0 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 5px;
    width: 80px;
    z-index: 1;
    /* border: 1px solid #000; */

    border-radius: 20px;
    background: #fff;
}

/* Sidebar Item (Image Container) */
.sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    transition: transform 0.3s, background-color 0.3s;

    border-radius: 50%;
}

.sidebar-item i {
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    /* border: 1px solid #000; */
    text-align: center;

    transition: 0.3s;
}

/* Hover Effect */
.sidebar-item:hover i {
    background-color: #ffcc00; /* Highlight color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.sidebar.hidden {
    opacity: 0;
    visibility: hidden;
}

#footer {
    background: #151515;
    padding: 98px 216px 194px 160px;

    /* height: 457px; */

    display: flex;
    justify-content: space-between;
}

#footer * {
    color: #e3e3e3;
}

.foot-logo {
    width: 180px;

    height: 31px;
}

.foot-link {
    font-weight: 300;
    font-size: 18px;
}

.foot-link ul {
    display: flex;
    gap: 58px;
}

.foot-copyright {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;

    margin-top: 30px;
}

.foot-copyright p {
    display: inline-block;
}

.foot-copyright p:first-child,
.foot-copyright p:last-child {
    display: block;
}

.foot-sns {
    display: flex;
    gap: 21px;
    justify-content: center;
}

.foot-sns li {
    width: 48px;
    height: 48px;
    /* border: 1px solid #f00; */
}

.foot-sns li a {
    display: block;
    width: 100%;
    height: 100%;
}

.foot-sns li img {
    width: 100%;
    height: 100%;
}
